@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url("https://images.unsplash.com/photo-1563514015335-ac9da75bdfaa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1938&q=80");
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
    color: #fff;
    text-shadow: 1px 1px 0 #333, -1px -1px 0 #333, 1px -1px 0 #333,
        -1px 1px 0 #333, 2px 2px 5px rgba(0, 0, 0, 0.65);
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
    text-shadow: 1px 1px 0 #333, -1px -1px 0 #333, 1px -1px 0 #333,
        -1px 1px 0 #333, 2px 2px 5px rgba(0, 0, 0, 0.65);
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-elements {
    text-align: center;
}

.countdown-elements span {
    font-size: 1.3rem;
}

.countdown-elements {
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.countdown-elements:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
